doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Eventos Cayetano Gracias
        link(rel="stylesheet", href="./css/app.css")
    body
        main.graciasContainer
            section.graciasDescription
                .graciasDesCont
                    .descriptionLogo
                    .descriptionText
                    .descriptionParrafo
                        h3 Nos comunicaremos para brindate la información.
                            br
                            | También puedes escribirnos por nuestro whatsapp.
                    .descriptionButton
                        button.descriptionButton__button
                            .descriptionButton__image
                            .descriptionButton__text
                                h3 CONVERSA CON UN ASESOR
            section.graciasImage
                img(loading="lazy" src="img/thanks_high.webp", alt="")
        .graciasDesktop
            .graciasDesktopContainer
                .graciasDesktopContainer__left 
                    .leftContainer
                        .left_logo
                        .left_svg 
                        .left_parraf
                            h3 Nos comunicaremos para brindate la información.
                                br
                                | También puedes escribirnos por nuestro whatsapp.
                        .left_button
                            button.left_button_bottom
                                .descriptionButton__image
                                .descriptionButton__text
                                    h3 CONVERSA CON UN ASESOR
                .graciasDesktopContainer__right
                    img(loading="lazy" src="img/gracias_desktop.webp", alt="")
        script(src="./js/script.js" async)
        script.
            if( screen.width >= 1000 ) {
                var script = document.querySelector('script');
                var scriptDelete = document.querySelectorAll('script')[0];
                script.parentNode.removeChild(scriptDelete);
            }
            