@use 'base/variables' as v;
@use 'base/mixins' as m;

.graciasContainer {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    @include m.desktop_1020 {
        display: none;
    }
}

.graciasDescription {
    // height: 68%;
    height: 33rem;
    width: 100%;
    z-index: 10;
    background-color: v.$primario;
    position: relative;
    top: 0;
    // display: flex;
    // align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% calc(100% - 5rem));
    @include m.phone_360 {
        height: 43rem;
    }
    @include m.phone_412 {
        height: 47rem;
    }
    @include m.phone_ios12pro_428 {
        height: 45rem;
    }
    @include m.phone_480 {
        height: 50rem;    
    }
    @include m.tablet_760 {
        height: 60rem !important;
    }
    @include m.tablet_800 {
        height: 75rem !important;
    }
}

.graciasDesCont {
    // background-color: green;
    height: 78%;
    width: 100%;
    display: grid;
    position: relative;
    // background-color: green;
    @include m.phone_360 {
        height: 90%;
    }
}

.graciasImage {
    top: -12rem;
    position: relative;
    bottom: 0;
    height: 28rem;
    width: 100%;
    @include m.phone_360 {
        top: -10rem;
        height: 37rem;
    }
    @include m.phone_480 {
        height: 43rem;
    }
    @include m.tablet_800 {
        height: 61.5rem !important;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.descriptionLogo {
    // background-color: red;
    height: 4rem;
    width: 100%;
    position: absolute;
    // top: 3.5rem;
    top: 1.5rem;
    background: center/contain no-repeat url(../img/logo_gracias.webp);
    // @include m.phone_360 {
    //     top: 4rem;
    // }
}

.descriptionText {
    // height: 3.5rem;
    // top: 6.7rem;
    height: 2.8rem;
    top: 7rem;
    width: 100%;
    position: absolute;
    background: center/contain no-repeat url(../img/gracias.svg);
    // @include m.phone_360 {
    //     top: 6.5rem;
    //     height: 3.5rem;
    // }
    // @include m.phone_iosx_375 {
    //     top: 7rem;
    // }
    // @include m.phone_ios12_390 {
    //     top: 8rem;
    // }
}

.descriptionParrafo {
    height: 9rem;
    position: absolute;
    // top: 8rem;
    top: 10rem;
    // background-color: red;
    // @include m.phone_360 {
    //     top: 7rem;
    // }
    // @include m.phone_iosx_375 {
    //     top: 8rem;
    // }
    // @include m.phone_ios12_390 {
    //     top: 9.5rem;
    // }
    h3 {
        font-family: v.$fuente_wsMedium;
        color: white;
        font-size: 1.4rem;
        padding: 0 5rem;
        text-align: center;
        // line-height: 1.5;
        line-height: 1.3;
        @include m.phone_360 {
            line-height: 1.5;
            font-size: 1.6rem;
            padding: 0 6rem;
        }
        @include m.phone_iosx_375 {
            padding: 0 7rem;
        }
        @include m.phone_412 {
            font-size: 1.8rem;
            padding: 0 8rem;
        }
        @include m.tablet_760 {
            font-size: 2.3rem;
            padding: 0 21rem;
        }
        @include m.tablet_800 {
            font-size: 2.6rem;
        }
    }
}

.descriptionButton {
    // background-color: yellow;
    position: absolute;
    // top: 10.3rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.8rem;
    width: 100%;
    @include m.tablet_760 {
        height: 4.5rem;
        bottom: 1.5rem !important;
    }
    @include m.tablet_800 {
        height: 5.5rem;
    }
    // @include m.phone_360 {
    //     top: 10rem;
    // }
    // @include m.phone_iosx_375 {
    //     top: 11.5rem;
    // }
    // @include m.phone_ios12_390 {
    //     top: 13.4rem;
    // }
}

.descriptionButton__button {
    width: 60%;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 0 1rem 0 1.5rem;
    height: 100%;
    border: none;
    background-color: v.$secundario;
    border-radius: .7rem;
    @include m.phone_360 {
        padding: 0 1rem 0 2rem;
    }
    @include m.phone_412 {
        width: 55%;
    }
    @include m.tablet_760 {
        width: 34%;
    }
    @include m.tablet_800 {
        padding: 0 1rem 0 2.5rem;
        width: 35%;
    }
}

.descriptionButton__image {
    height: 100%;
    background-color: red;
    background: center/contain no-repeat url(../img/whatsapp_black.svg);
}

.descriptionButton__text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        margin: 0;
        font-size: 1rem;
        font-family: v.$fuente_wsMedium;
        @include m.phone_iosx_375 {
            font-size: 1.1rem;
        }
        @include m.tablet_760 {
            font-size: 1.3rem;
        }
    }
}


.graciasDesktop {
    display: none;
    @include m.desktop_1020 {
        // background-color: red;
        height: 100vh;
        display: grid;
    }  
}

.graciasDesktopContainer {
    display: grid;
    // background-color: green;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    @include m.desktop_1920 {
        grid-template-columns: 40% 60%;
    }
}
// clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% calc(100% - 5rem));
.graciasDesktopContainer__left {
    background-color: v.$primario;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 9rem) 100%, 0% 100%);
}

.leftContainer {
    // background-color: red;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 30% 35% 15%;
    padding: 5rem 12rem 5rem 3rem;
    @include m.desktop_1920 {
        height: 73%;
        padding: 5rem 10rem 5rem 6rem;
        @include m.height_1080 {
            height: 82%;    
        }
    }
    @include m.desktop_2304 {
        height: 91%;    
    }
    @include m.desktop_2560 {
        height: 82%;
    }
}

.left_logo {
    background-color: green;
    display: flex;
    justify-content: flex-start;
    transform: scale(.7);
    background: center/contain no-repeat url(../img/logo-en-blanco.webp);
    @include m.desktop_1280 {
        transform: scale(.6);
    }
}

.left_svg {
    background-color: yellow;
    transform: scale(.9);
    background: center/contain no-repeat url(../img/gracias_desktop.svg);
    @include m.desktop_1280 {
        margin-top: 3rem;
        transform: scale(.95);
    }
}

.left_parraf {
    // background-color: blue;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    @include m.desktop_1280 {
        padding: 0 5rem;
    }
    @include m.desktop_1360 {
        padding: 0 7rem;    
    }
    @include m.desktop_1440 {
        padding: 0 9rem;
    }
    @include m.desktop_1920 {
        padding: 0 10rem;
    }
    h3 {
        margin: 0;
        font-size: 2.2rem;
        font-family: v.$fuente_wsMedium;
        line-height: 1.5;
        text-align: center;
        color: white;
        @include m.desktop_1280 {
            font-size: 2.5rem;
        }
        @include m.desktop_1440 {
            font-size: 2.7rem;
        }
        @include m.desktop_1920 {
            @include m.height_1080 {
                font-size: 3rem;
            }
        }
        @include m.desktop_2240 {
            font-size: 3.5rem;    
        }
        @include m.desktop_2304 {
            font-size: 4rem;
        }
        @include m.desktop_2560 {
            font-size: 4.3rem;
        }
    }
}

.left_button {
    // background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include m.desktop_1360 {
        align-items: flex-start;
    }
}

.left_button_bottom {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 0 .5rem 0 1.2rem;
    border: none;
    background-color: v.$secundario;
    border-radius: .7rem;
    width: 78%;
    height: 63%;
    cursor: pointer;
    @include m.desktop_1280 {
        padding: 0 1rem 0 2.5rem;
        width: 65%;
        height: 60%;
    }
    @include m.desktop_1360 {
        width: 60%;
        padding: 0 1rem 0 2rem;
    }
    @include m.desktop_1920 {
        padding: 0 1rem 0 1.5rem;
        width: 55%;
    }
    @include m.desktop_2240 {
        padding: 0 1rem 0 2.5rem;
    }
    @include m.desktop_2304 {
        width: 65%;
    }
    .descriptionButton__text {
        h3 {
            font-size: 1.6rem;
            @include m.desktop_1360 {
                font-size: 1.7rem;
            }
            @include m.desktop_1440 {
                font-size: 1.9rem;
            }
            @include m.desktop_2240 {
                font-size: 2.2rem;
            }
            @include m.desktop_2304 {
                font-size: 2.7rem;
            }
            @include m.desktop_2560 {
                font-size: 3rem;
            }
        }
    }
}

.graciasDesktopContainer__right {
    background-color: yellow;
    position: relative;
    left: -10rem;
    z-index: -1;
    img {
        width: 120%;
        height: 100%;
    }
}

